.light {
    position:absolute;
    top:-200%;
    left:0;
    background:linear-CanvasGradient(to bottom,rgba(255, 255, 255, 0.32)-50%, rgba(255, 255, 255, 0)90%);
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
    pointer-events : none;
    transition: .5s eaase;

}